.repo {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.6rem;
  }

  &__stats {
    display: flex;
    gap: 0.5rem;
  }

  &__stars,
  &__forks {
    display: flex;
    align-items: center;
  }
}
